/* styles/global.scss */

// Import your SCSS partials or define global styles here
body {
    font-family: Arial, sans-serif;
    background-color: #f2fbf9;
    scroll-behavior: smooth;
  }
  .main{
    color: red !important;
  }
  .ant-card .ant-card-body{
    padding: 0 !important;
  }
  .ant-progress-inner {
    background-color: #ff0000 ;
    
    .ant-progress-text {
      color: #fff; // Optional: Set the text color to white
    }
  }
  
  .ant-progress-bg {
    background-color:  #ff0000;
  }
  .ant-card-head{
    font-size: 21px !important;
  }
  .ant-col-6 {
    max-width: 20% !important;
  }
  .ant-col-push-6 {
    inset-inline-start: 19% !important;
  }
  .ant-list-bordered.ant-list-sm .ant-list-item, :where(.css-dev-only-do-not-override-ed5zg0).ant-list-bordered.ant-list-sm .ant-list-header, :where(.css-dev-only-do-not-override-ed5zg0).ant-list-bordered.ant-list-sm .ant-list-footer {
    padding: 13px 16px !important;
  }
  .anticon svg {
    font-size: xx-large !important;
    position: relative !important;
    display: inline-block !important;
    top: 32% !important;
  }
  .ant-progress .ant-progress-text {
    width: 2em !important;
    font-size: 20px !important;
    font-weight: bold !important;
  }

  .iconmsgshare{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    position: relative;
    left: 2rem;
    top: 1rem;
  }

  .ant-list-bordered {
    background-color: white;
  }